body{
    
    
    padding: 0;
    margin: 0;
}
#container{
    display: flex;
    flex-direction: column;
    width: 350px;
    
    margin: auto;
    margin-top: 45vh;
    align-items: center;
    border: 2px solid #FFFFF0;
    border-radius: 20px;
    padding: 5px;

    
    
}
span{
    font-family: 'Unbounded', cursive;
    font-size: 45px;
    color: #FFFFF0;
    margin-left: 50;
    text-align: center;
    
    
}